/* Picture buttons */
.picture-btn {
  background-attachment: local;
  background-size: cover;
  background-position: center;
  opacity: 1.0;
}
.picture-btn:hover {
  opacity: 0.9;
}
.picture-btn-acrylic {
  background-image: url('../pics/menu/acrylic.jpg');
}
.picture-btn-monoprint {
  background-image: url('../pics/menu/monoprint.jpg');
}
.picture-btn-silk {
  background-image: url('../pics/menu/silk.jpg');
}
.picture-btn-oil {
  background-image: url('../pics/menu/oil.jpg');
}
.picture-btn-text{
  font-weight: bold;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px gray;
}

/* Gallery items */
.gallery-item {
  opacity: 1.0;
}
.gallery-item:hover {
  opacity: 0.9;
}

/* Gallery panels */
.gallery-panel {
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.gallery-panel-item {
  display: table-cell;
}
@media (min-width: 576px) {
  .gallery-panel-left {
    margin-right: 0.25rem;
  }
  .gallery-panel-right {
    margin-left: 0.25rem;
  }
  .gallery-panel-center  {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}
